---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">

	<!-- HERO UNIT  -->
	<section>
		<h1>Plastic Change</h1>
		<p>Der udledes omkring 8-10 millioner tons plastik til havet på verdensplan årligt</p>

<div>
	<p>Dyk ned</p>
	<img src="" alt="">
</div>
	</section>


	<!-- INFO BOX 1 OG 2  -->

	<section>

	
           <div>
            <p>01.</p>
			<p>Hvad er plastikforurening?</p>
			<p>Plastikforurening opstår, når plastikmaterialer ikke bortskaffes korrekt og ender i naturen, såsom i oceaner, floder og på landjorden. Problemet med plastikforurening ligger i, at plastik ikke nedbrydes naturligt, hvilket fører til alvorlige konsekvenser for miljøet og dyrelivet.</p>
			<img src="" alt="">
		   </div>

         <div>
		   <div>
             <p>02.</p>
			 <p>Problemt med plastikforurening </p>
			 <p>Plastikforurening skaber farlige situationer for marine dyr, der kan blive fanget i plastikaffald eller forveksle det med mad. Når plastik nedbrydes til mikroplastik, kan det forurene drikkevand og fødekæden, hvilket potentielt påvirker menneskers sundhed.</p>
		   </div>
            
		    <div>
				<p>Mikroplast</p>
				<p>Stjerner</p>
				<p>Op til 51 billioner mikroplastikpartikler - 500 gange flere end stjernerne i vores galakse - forurener vores have og hav, og truer alvorligt det marine dyreliv.</p>
				<img src="" alt="">
			</div>
         </div>
	</section>

 
		<!-- UNDERSØGELSER VISER BOX  -->

	<section>
      <h2>Flere undersøgelse viser...</h2>
	  <img src="" alt="">
	  <p>At forureningen har store konsekvenser for dyrelivet. F.eks. har en nylig undersøgelse fra University of Essex og Plymouth Marine Laboratory fundet plastik i 102 ud af 102 havskildpadder fra hhv. Atlanterhavet, Middelhavet og Stillehavet.</p>
	</section>


			<!-- TONS AF PLASTIK  -->

	<section>

	</section>


</MainLayout>