---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">

	<!-- HERO UNIT  -->
	<section>
		<h1>Plastic Change</h1>
		<p>Der udledes omkring 8-10 millioner tons plastik til havet på verdensplan årligt</p>

<div>
	<p>Dyk ned</p>
	<img src="" alt="">
</div>
	</section>

 
		<!-- UNDERSØGELSER VISER BOX  -->

	<section>
      <h2>Flere undersøgelse viser...</h2>
	  <img src="" alt="">
	  <p>At forureningen har store konsekvenser for dyrelivet. F.eks. har en nylig undersøgelse fra University of Essex og Plymouth Marine Laboratory fundet plastik i 102 ud af 102 havskildpadder fra hhv. Atlanterhavet, Middelhavet og Stillehavet.</p>
	</section>


			<!-- TONS AF PLASTIK  -->

	<section>

	</section>


</MainLayout>