<div>
    <h2>Hvilken forskel vi gør</h2>
    <div>
        <p>Vi fortæller om udfordringerne ved plastik og plastikforureningens omfang, og konsekvenser for vores vand- og havmiljø.</p>
        <p>Vi mobiliserer mennesker til at bidrage og engagere sig i kampen mod plastikspild.</p>
        <p>Vi arbejder for at sætte udfordringerne med plastik på den politiske dagsorden og søger politisk indflydelse i Danmark, EU og globalt. </p>
        <p>Vi arbejder med innovative industriledere, produktdesignere og forskere, for at finde løsninger på plastikspild og plastikforurening.</p>
    </div>
</div>