
        <div>
          <div>
            <p>01.</p>
			<p>Hvad er plastikforurening?</p>
			<p>Plastikforurening opstår, når plastikmaterialer ikke bortskaffes korrekt og ender i naturen, såsom i oceaner, floder og på landjorden. Problemet med plastikforurening ligger i, at plastik ikke nedbrydes naturligt, hvilket fører til alvorlige konsekvenser for miljøet og dyrelivet.</p>
			<img src="" alt="">
		   </div>

         <div>
		   <div>
             <p>02.</p>
			 <p>Problemt med plastikforurening </p>
			 <p>Plastikforurening skaber farlige situationer for marine dyr, der kan blive fanget i plastikaffald eller forveksle det med mad. Når plastik nedbrydes til mikroplastik, kan det forurene drikkevand og fødekæden, hvilket potentielt påvirker menneskers sundhed.</p>
		   </div>
            
		    <div>
				<p>Mikroplast</p>
				<p>Stjerner</p>
				<p>Op til 51 billioner mikroplastikpartikler - 500 gange flere end stjernerne i vores galakse - forurener vores have og hav, og truer alvorligt det marine dyreliv.</p>
				<img src="" alt="">
			</div>
        </div>
      </div>